apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: service-api-ingress
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
spec:
  ingressClassName: nginx
  rules:
  - host: service-api.local
    http:
      paths:
      - path: /(.*)
        pathType: Prefix
        backend:
          service:
            name: service-api
            port:
              number: 80
