apiVersion: apps/v1
kind: Deployment
metadata:
  name: nagp-service-api
spec:
  replicas: 4
  selector:
    matchLabels:
      app: nagp-service-api
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: nagp-service-api
    spec:
      containers:
      - name: nagp-service-api
        image: kamal01236/nagp-service-api:latest
        ports:
        - containerPort: 80
        env:
        - name: SQL_SERVER
          valueFrom:
            configMapKeyRef:
              name: sqlserver-config
              key: SQL_SERVER
        - name: SQL_DB
          valueFrom:
            configMapKeyRef:
              name: sqlserver-config
              key: SQL_DB
        - name: SQL_USER
          valueFrom:
            configMapKeyRef:
              name: sqlserver-config
              key: SQL_USER
        - name: SQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: sqlserver-secret
              key: SA_PASSWORD
        - name: ConnectionStrings__DefaultConnection
          value: "Server=$(SQL_SERVER);Database=$(SQL_DB);User Id=$(SQL_USER);Password=$(SQL_PASSWORD);"
